<h1>CADASTRAR TAREFA</h1>
<hr>
<form action='/add' method="post">
    <p>Titulo</p>
    <input type="text" name="titulo">
    <p>Conteudo</p>
    <textarea name="conteudo" cols="30" rows="10"></textarea>
    <p>Data de entrega</p>
    <input type="date" name="dataEntrega">
    <br>
    <br>
    <button type="submit">Cadastrar</button>
    <button><a href="/">Voltar</a></button>
</form>

