<h1>BEM VINDO A SUA LISTA DE TAREFAS</h1>

<button class="btn btn-success">Rendeu</button>

<button><a href="/cad">Cadastrar tarefa</a></button>
<button><a href="/visualizar">Visualizar tarefas / Excluir Tarefas</a></button>
<button><a href="/editar">Editar tarefas</a></button>
<!--<button><a href="/delete">Excluir tarefas</a></button>-->
