<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Bem vindo a sua lista de tarefas</span>
  </div>
</nav>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-outline-success" type="button"><a href="/cad">Cadastrar tarefa</a></button>
  <button class="btn btn-outline-danger" type="button"><a href="/visualizar">Visualizar e excluir tarefas</a></button>
  <button class="btn btn-outline-warning" type="button"><a href="/editar">Editar tarefas</a></button>
</div>


