<h1 align="center">Suas tarefas</h1>

{{#each tarefas}}

    <h2 align="center">{{dataValues.titulo}}</h2><br>
    <h3 align="center">{{dataValues.conteudo}}</h3><br>
    <h3 align="center">{{dataValues.dataDeEntrega}}</h3><br>
    <hr>

{{/each}}